@font-face {
    font-family: WorkSans;
    src: url("./assets/fonts/WorkSans-VariableFont_wght.ttf");
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('./assets/img/background-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-color: hsl(275, 100%, 97%);
    font-family: WorkSans, sans-serif;
}

.card {
    background-color: hsl(0, 0%, 100%);
    width: 20rem;
    padding: 1.5rem 1.5rem 0;
    border-radius: 0.5rem;
}

header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

header img {
    width: 1.5rem;
}

section {
    margin-top: 1.5rem;
}

h2 {
    font-size: 1.05rem;
    font-weight: 600;
}

button {
    padding: 0;
    border: none;
    background-color: inherit;
}

.question-header {
    display: flex;
    margin-bottom: 1.5rem;
    align-items: center;
}

.answer {
    margin-bottom: 1.5rem;
    color: hsl(292, 16%, 49%);
    font-size: 14px;
    line-height: 1.35rem;
    max-height: 20rem;
    overflow: hidden;
    transition: max-height .5s ease-in-out;
}

.hidden {
    transition: all .5s ease-in-out;
    max-height: 0;
    margin-bottom: 0
}