* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('./assets/img/background-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-color: hsl(275, 100%, 97%);
}

.card {
    background-color: hsl(0, 0%, 100%);
    width: 20rem;
    padding: 2rem;
}